*,
*::after,
*::before {
  box-sizing: border-box; /*   doesnt add padding to width  */
}

/* custom properties */

:root {
   --ff-primary: Roboto, sans-serif;
    --ff-secondary: Poppins, monospace;

    --fw-reg:300;     /* font weight regular    */
    --fw-bold:1000;       /* font weight bold    */

    --clr-light:#FFF;    /*  light color   */
    --clr-dark: #020202;   /*  dark color   */
    --clr-accent: #ff3366;   /*  colorful color aihia  */

    --fs-h1:3rem;    /*  font sizes for headings   */
    --fs-h2:2.25rem;
    --fs-h3:1.0rem;
    --fs-body:1rem;

    --img-max:250px;
}
/* Media queries are a popular technique for delivering a tailored style sheet to different devices.  here we changed font size for screens bigger than 800px  */
@media (min-width:600px) {
  :root {
    --img-max:300px;
  }
}
@media (min-width:900px) {
  :root {
    --fs-h1:4.5rem;    /*  font sizes for headings   */
    --fs-h2:3.75rem;
    --fs-h3:1.3rem;
    --fs-body:1.2rem;

    --img-max:420px;
    }
}
@media (min-width:1500px) {
  :root {
        --fs-h1:4.7rem;

    --img-max:500px;
  }
}


/* general styles */

html{
  scroll-behavior: smooth;        /* pure css, always thought it was complicated */
}

body{
  background: var(--clr-dark);
  color: var(--clr-light);
  margin:0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  opacity: 75%;    /* for dark theme only */
}
img{
  display: block;
  max-width: var(--img-max);
  margin: 0 auto;
}

section{
  padding: 3em 1.8em;    /* up-down, left-right */
}

:focus{
  opacity: 100%;
}

/* buttons */

.btn {
  display: inline-grid;
  background-color: transparent;
  padding: .5em 2.2em;
  color: var(--clr-light);
  border-radius: 3px;
  text-decoration: none; /* removes underline . link also ?? */
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: var(--fw-bold);
  transition: transform 300ms  ease-in-out;
}

.btn:hover{
  transform: scale(1.1) rotateZ(1deg);
}

/* typography */

h1,
h2,
h3 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
h1{
  font-size: var(--fs-h1);
}
h2{
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}
strong{
  font-weight: var(--fw-bold);
}

.section__title{
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong{
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: .5em;
  padding: .3em 1.6em;
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.logo, .logo img{
  max-width: 70px;
  filter: brightness(100%);
}

nav{
  position: fixed;
  background: var(--clr-dark);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;    /* used to pull it in fornt of everything */

  transform: translateX(100%);
  transition: 600ms;
}
.nav__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;      /* test why */
  justify-content: space-evenly;
  align-items: center;
  margin: 0;        /* fixes centering */
  padding:0;

}
.nav__link{
  color: inherit;
  font-weight: var(--fw-boldd);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav-toggle{
  height: 60px;
  padding: 1.5em;
  background: transparent;
  border:0;
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
  z-index: 1000;      /* when we open nav, hamburger stays */
}

.nav__link:hover{
    color: var(--clr-accent);
}

 /* NEW feature - dark mode
.light-on{
  background: var(--clr-light);
  color: var(--clr-dark);
}
 */

.nav-open .nav{  /* created when button toggled |  we define .nav when .nav-open         */
  transform: translateX(0);
}

.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger__icon{
  transform: rotate(90deg);
  transition: 500ms;
  color: var(--clr-accent);
}

.hamburger
{
  display: block;
  position: relative;
  padding: .5em;
}
.hamburger__icon{
  color: var(--clr-light);
  font-size: 2rem;
  transition: 500ms;
}


/* Intro section */

.intro {
  position: relative;    /* An element with position: relative; is positioned relative to its normal position: */
  max-width: 1300px;
  text-align: center;
}

@media (min-width:600px) {      /* for bigger than 600px */
  .intro{
    text-align: left;
    display: grid;
    width: max-content;
    margin: 0 auto ;
    grid-column-gap: 5em;
    grid-template-areas:        /* position in grid system.
                                same as : a b
                                          a c         */
            "title img"
            "subtitle img";
    grid-template-columns: 2fr max-content;      /* first column takes min space possible. second one takes max possible */
  }

.intro__img {
  grid-area: img;

  max-width: var(--img-max);
  margin: 0  auto;
  padding-top: 3em;
}
.section__title--intro{
  grid-area: title;
  grid-row: 1/1;
margin-top: 0;
 }

.section__subtitle--intro{
  align-self: start;    /* stop from stretching the box */
  text-align: left;
  grid-area: subtitle;
  margin-top: 2em;
 }
}


/* My services */

.my-services {
  text-align: center;
}

.services
{
  margin: 4em ;
}

.service::before
{
  content: '( )';      /* dots "before" services */
  font-size: 1.1rem;
}
.service2::before
{
  content: '{ }';      /* dots "before" services */
  font-size: 1.rem;
}

.service p,
.service2 p{
  opacity: 70%;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__subtitle--services{
  margin-bottom: 4em;
}

@media (min-width:600px) {
  .services {
    display: flex;        /* gets them in columns */
    max-width: 1100px;
    margin: 4em ;
    margin-left: auto;
    margin-right:  auto;
  }

  .service + .service {  /* when two services together, place margin */
    margin-left: 3.2em;
  }

  .service2 + .service2 {  /* when two services together, place margin */
    margin-left: 3.2em;
  }
}




/* About me */

.about-me{
  max-width: 1200px;
  margin:0 auto;
}

.section__title--about{
  text-align: center;
  color: var(--clr-accent);
}
.section__title-sub{
  text-align: center;
}

.about-me__body{
  margin: 2em 0;
}

.about-me__body p::before{
  content: ' \' ';      /* dots "before" services */
  font-size: 1.4rem;
}

.about-me img{
  filter: brightness(180%);
}
.about-me a{
  text-decoration: none;
  font-weight: var(--fw-bold);
  margin: .5em;
  color: var(--clr-accent);
}


@media (min-width:650px) {
  .about-me{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas:
        "img body"
        "img subtitle";
    grid-column-gap: 4em;
  }
.section__subtitle--about{
  grid-area: subtitle;
  text-align: left;
  align-self: start;
}
.section__title-sub{
  font-size: var(--fs-h3);
  text-align: center;
  margin-bottom: 2em;
}
.about-me__body p{
  grid-area: body;
}
  .about-me__img{
    grid-area: img;
    max-width: var(--img-max);
    padding-bottom: 5em;
  }
}

/* my portfolio - when */


.my-work{
  text-align: center;
}

.portfolio__item--img{
  filter: brightness(50%);
  filter: grayscale(100%);
  opacity: 0.5;
  transition:
    transform 350ms cubic-bezier(.6,0,.6,0),
    opacity 450ms linear;
}
.portfolio__item--img:hover{
  transform: scale(1.2);
  opacity: 1;
  filter: grayscale(0%);
}

.portfolio__item:last-child img:hover{
  transform: none;
  filter: grayscale(100%);
}

.section__title--work{
  color: var(--clr-accent);
}
.section__subtitle--work{
  margin-bottom: 4em;
}
.portfolio__item{
  margin:3em auto;
}

.portfolio__item--link{
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  text-decoration: none;
  cursor: pointer;
}

@media (min-width:650px) {
  .portfolio{
    display: grid;
    grid-row-gap: 5em;
    margin:0 auto;
    max-width: 1000px;
  }

 .portfolio__item{
   display: grid;
   grid-column-gap: 4em;
   grid-template-columns: 1fr 1fr ;
   grid-template-areas:
         "img link"
         "img body" ;
  margin: 0 auto;
 }
 .portfolio__item--img{
   grid-area: img;
   max-width: var(--img-max);
 }
 .portfolio__item--body{
   grid-area: body;
  }
}

/* footer */

.footer{        /* to have everything in classes */
  color: var(--clr-accent);
  text-align: center;
  padding: 5em 0 2em;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  opacity: .7;
}

.footer a{          /* for future links */
  color:inherit;
  text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover{
  opacity: 0.9;
  color: var(--clr-light);
}

.footer__link{
  display: block;
  font-weight: var(--fw-bold);
  margin: .5em;
}

.social-list{
  list-style:  none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0 ;    /* if not specified, it gets padding from li and is not centered */
}

.social-list__item{
  margin:0 .3em;

}

.social-list__link{
  padding: .6em;
  text-decoration: none;
  color: var(--clr-accent);
  font-size: var(--fs-h3);
}

.social-list__source{
  padding: .6em;
  text-decoration: none;
  color: var(--clr-accent);
  font-size: var(--fs-h1);
}



.portfolio-item-individual{
  max-width: 1000px;
  padding: 2em;
  margin: 0 auto;

}
.portfolio-item-individual {
  max-width: 800px;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item-individual__link{
  color: var(--clr-accent);
  font-size: 1.3rem;
  margin: 1em;
}
